In [1]:
import pandas as pd

pd.options.display.max_rows = 50
pd.options.display.max_columns = 500

In [3]:
Expired = pd.read_csv('AP Expired_20211101_20220131.csv')
#active
FnB = pd.read_csv('AP FnB_20201101_20211031.csv')
#FnB
Merch = pd.read_csv('AP Merch_20201101_20211031.csv')
#Merch

s_lapsed = pd.read_csv('AP survey lapsed_20211108_20220207.csv')
#s_lapsed
s_qg = pd.read_csv('AP survey QG_20201101_20211031.csv')
#s_qg
s_renew = pd.read_csv('AP survey renew_20201101_20211031.csv')
#s_renew
s_wel = pd.read_csv('AP survey Welcome_20201101_20211031.csv')
#s_wel

visit_1 = pd.read_csv('AP Visitation_20201101_20211031.csv')
#visit_1

# wechat-binding grouping

In [5]:
wechat_group = Expired.groupby('binding_wechat_open_id_num')['source_id'].apply(list)
wechat_group = wechat_group[wechat_group.str.len() > 1][wechat_group.str.len() < 10].reset_index(drop=True)
wechat_group = wechat_group.to_list()#.to_csv('wechat_group.csv')

In [16]:
group_df = pd.DataFrame(wechat_group)

group_df[0] = group_df[0].apply(lambda x: None if pd.isnull(x) else '{0:.0f}'.format(pd.to_numeric(x)))
group_df[1] = group_df[1].apply(lambda x: None if pd.isnull(x) else '{0:.0f}'.format(pd.to_numeric(x)))
group_df[2] = group_df[2].apply(lambda x: None if pd.isnull(x) else '{0:.0f}'.format(pd.to_numeric(x)))
group_df[3] = group_df[3].apply(lambda x: None if pd.isnull(x) else '{0:.0f}'.format(pd.to_numeric(x)))

group_df['source_id'] = group_df[group_df.columns[0:5]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1)
group_df_1 = group_df[['source_id']]
group_df_1

                source_id
0            259183,53500
1           251084,251079
2           284757,277972
3           272049,272048
4           299998,299999
..                    ...
563         264780,264778
564  291134,291135,291136
565         284855,284853
566         288076,288077
567         259122,259121

[568 rows x 1 columns]

# Child List in Survey

In [18]:
child_lapsed= s_lapsed.loc[s_lapsed['kid'] == 1]
child_lapsed = child_lapsed[['SOURCE_ID','Kids']]
child_lapsed.rename(columns={'SOURCE_ID':'source_id'},inplace = True)

child_qg = s_qg.loc[s_qg['kid'] == 1]
child_qg = child_qg[['source_id','Kids']]

child_renew = s_renew.loc[s_renew['kid'] == 1]
child_renew = child_renew[['source_id','Kids']]

child_wel = s_wel.loc[s_wel['kid'] == 1]
child_wel = child_wel[['source_id','Kids']]

child_final = pd.concat([child_lapsed,child_qg,child_renew,child_wel])

child_f = child_final.drop_duplicates()
child_f

      source_id  Kids
0        265579   1.0
1        272821   2.0
3        277626   1.0
7        250965   1.0
9        249325   2.0
...         ...   ...
1174     290052   1.0
1181     282065   1.0
1185     280147   2.0
1195     282853   1.0
1196     263405   3.0

[1597 rows x 2 columns]

In [19]:
child_f['Kids'].value_counts()

1.0    1307
2.0     275
3.0      14
4.0       1
Name: Kids, dtype: int64

In [20]:
new_child_final_list = child_f.to_csv('new_child_final_list.csv')